@media (max-width: 999px) {
  .navbar {
    .hamburger {
      display: block !important;
    }

    .navbar-nav {
      width: 100% !important;
      height: calc(100vh - 90px);
      position: absolute;
      top: 90px;
      right: -100%;
      z-index: 999;
      background-color: var(--light-color);
      flex-direction: column !important;
      justify-content: flex-start !important;
      padding: 20px 15px;
      transition: all .3s linear;
      
      li {
        margin: 0px 0px 20px 0px !important;

        a:hover {
          &::after {
            width: 100px !important;
          }
        }
      }

      &.active-nav {
        right: 0px !important;
      }
    }
  }

  header .item {
    height: 130vh;

    img {
      transform: translateY(-100px);
    }
  }

  header .owl-nav {
    top: 40%;
  }

  .serivces .box {
    padding: 20px 10px;

    img {
      margin: 0px auto;
      width: 50px;
      height: 50px;
    }

    h2 {
      font-size: 19px;
    }
  }

  .sub-header {
    padding-top: 100px !important;
  }

  .about-header .item {
    height: 50vh !important;
  }

  .general-section {
    padding: 30px 0px;
  }

  .product .product-box,
  .about-us .contain img {
    height: 240px;
  }

  .testimonial .contain h2 {
    font-size: 70px !important;
  }

  .reservation .content {
    flex-direction: column !important;
  }

  footer .contain {
    flex-direction: column !important;

    p {
      text-align: center;
      margin-bottom: 10px;
    }

    .socail-meida {
      justify-content: center;
    }
  }

  .navbar .content .navbar-nav .nav-item .nav-link {
    color: var(--dark-color) !important;
  }
}